sklearn==0.24.1
matplotlib==3.3.4
plotly==4.14.3
pandas==1.2.1
numpy==1.19.5
seaborn==0.11.1
warnings==2.1.0  # 'warnings' is a built-in module, typically not included in requirements.txt
statsmodels==0.12.2
google==2.0.3  # Specify the exact google package if possible, e.g., google-auth
scipy==1.6.0
imblearn==0.7.0
gensim==3.8.3
geopandas==0.8.2
nltk==3.5
os==0.9.6  # 'os' is a built-in module, typically not included in requirements.txt
altair==4.1.0
textblob==0.15.3
shapely==1.7.1
json==2.0.9  # 'json' is a built-in module, typically not included in requirements.txt
glob==0.7  # 'glob' is a built-in module, typically not included in requirements.txt
contextily==1.1.0
wordcloud==1.8.1
tqdm==4.56.0
bertopic==0.6.0
